<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products</title>
  <%- include('layouts/header'); -%>
</head>
<body>

  <!-- Display images at the top -->
  <div style="text-align:center;">
    <img src="/images/beimg.png" alt="Image 1">
    <img src="/images/beimg2.png" alt="Image 2">
    <img src="/images/beimg3.png" alt="Image 3">
  </div>

  <h1>Product Page</h1>

  <!-- Products Container -->
  <div class="product-container">
      <% products.forEach(product => { %>
          <div class="product-box">
              <div class="product-details">
                  <p>Product ID: <%= product.product_id %></p>
                  <p>Carat: <%= product.carat %></p>
                  <p>Cut: <%= product.cut %></p>
                  <p>Color: <%= product.color %></p>
                  <p>Price: $<%= (parseFloat(product.price) + 1000.00).toFixed(2) %></p>
              </div>
              <!-- product image here -->
              <img src="/images/i-2.png" alt="" alt="Product Image">
              <a href="#">Buy Now</a>
          </div>
      <% }); %>
  </div>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

</body>
</html>
