<!DOCTYPE html>
<html lang="en">
<head>
   <title>Basket</title>
   <%- include('layouts/header'); -%>
</head>
<body>
    <h1>Product Page</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                Product ID: <%= product.product_id %>, 
                Carat: <%= product.carat %>, 
                Cut: <%= product.cut %>, 
                Color: <%= product.color %>, 
                Price: <%= product.price %>
            </li>
        <% }); %>
    </ul>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>
